<span class="Project-filters filters" style="display: <%= params[:klass] == 'Project' ? 'initial' : 'none' %>;">
<wbr>
  <%= select_tag :status, options_for_select(project_option, params[:status]), id: 'projectStatus', class: "selectsFields js-select2-no-search filter Project-filter js-submit-form" %>
<wbr>
  <%= select_tag :role_id, options_from_collection_for_select(Role.all, "id", "name", params[:role_id]), id: 'select2roles', class: "js-select2 filter Project-filter js-submit-form", multiple: true, 'data-placeholder'=> l('filter_by.role') %>
</span>
