<% if params[:page].blank? || params[:page].to_i == 1 %>

  <tr id="advanced-options">
    <td colspan="7">
      <%= render partial: "searching/filters/#{@results[:klass].downcase}_filter", locals: {query: @results[:esearch], klass: @results[:klass]} %>
    </td>
  </tr>

  <tr id="total-wrapper">
    <td colspan="7">
      <div id="total_scores"><%= t(:label_total, total: @results[:total]) %></div>
    </td>
  </tr>
<% end %>

<%= render partial: "searching/templates/#{@results[:klass].downcase}", collection: @results[:entries] %>

<% if @results[:next_page] && (@results[:total_pages] >= @results[:next_page]) %>
  <tr id="load-more-wrapper">
    <td colspan="7">
      <% params[:page] = @results[:next_page] %>
      <%= link_to l(:load_more, to_load: @results[:load_more_count]), {controller: 'searching', action: 'esearch', klass: @results[:klass], esearch: @results[:esearch], params: params}, :id => "load-more", method: :get, remote: true %>
    </td>
  </tr>
<% end %>
