#search-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#esearch {
  border-radius: 15px;
  height: 20px;
}
#esearch:focus {
  box-shadow: 0 0 7px #DEDEDE;
  outline: none;
}
#advanced-options {
  background: #E5E2E2;
  border-bottom: solid silver 2px;
  margin-bottom: 5px;
}
#advanced-options td {
  text-align: left;
}
#load-more-wrapper {
  background: #F3F3F3;
  font-weight: bold;
}
#total-wrapper {
  background: #F3F3F3;
  font-weight: bold;
}
#searching-btn {
  padding: 3px 10px;
  border-style: none;
  border-radius: 15px;
  height: 26px;
}
#searching-btn:focus {
  outline: none;
}
#searching-btn:hover {
  background: rgb(175, 172, 172);
  /*outline: none;*/
}
.selectsFields {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #aaa;
  cursor: pointer;
  height: 32px;
}

.ui-dialog .ui-dialog-content {
  top: 20px;
}
.select2-container {
  max-width: 300px !important;
}

.js-select2 {
  height: 32px;
}

.filter-btn {
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #565659 !important;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  height: 25px;
  line-height: 25px;
  /*width: 75px;*/
  padding: 3px 10px;
  text-decoration:none !important;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffff;
}

.filter-btn.active {
  background-color: #D4D4D4;
  border: 1px solid #B6B6B6;
}

.filter-btn:hover {
  background-color: #dfdfdf;

}.filter-btn:active {
  position: relative;
  top: 1px;