#search-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#esearch {
  border-radius: 15px;
  height: 20px;
}
#advanced-options {
  background: #E5E2E2;
  border-bottom: solid silver 2px;
  margin-bottom: 5px;
}
#advanced-options td {
  text-align: left;
}
#load-more-wrapper {
  background: #F3F3F3;
  font-weight: bold;
}
#total-wrapper {
  background: #F3F3F3;
  font-weight: bold;
}
#searching-btn {
  border-style: none;
  border-radius: 15px;
  height: 26px;
}