<tr id="project-<%= project.id %>">
  <td class="id"><%= project.id %></td>
  <td class="subject"><%= link_to_project(project) %></td>
</tr>
<% if details[:highlight] %>
  <tr>
    <td class="description" colspan="7"><%= details[:highlight].values.join(' &hellip; ').html_safe %></td>
  </tr>
<% end %>
